<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Code</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; } p { margin: 0; }
    </style>
  </head>
  <body>
    <h1>Your Tickets</h1>
    <p>Hello, {{email}}</p>

    <p>You Can Download Your Tickets Here</p>

    <div style="display: flex; flex-direction: column ; margin-top: 20px;">
      <p><strong>Do not share these codes with anyone.</strong></p>
      <p>Show these codes at the entrance.</p>
      <p>Have a nice day!</p>
    </div>
  </body>
</html>