<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Email Registration</title>
  </head>
  <body>
    <h3>Welcome {{email}}</h3>
    <a
      href="http://localhost:3000/verify?tkn=${{token}}"
      style="background-color: aqua;"
    >Click Now</a>
  </body>
</html>